/* App.css */
.notes-container {
  position: relative;
}

.note {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.note-header {
  cursor: pointer; 
  padding: 10px; 
}

/* App.css or another CSS file */
.note {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  cursor: move; /* Indicates the note is movable */
}

.note.editing {
  background-color: yellow; /* Example style when editing a note */
}

/* Add these styles to your CSS file */
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border: 2px solid #ddd;
}

.react-resizable-handle-se {
  right: 0;
  bottom: 0;
  cursor: se-resize; /* Cursor seen when hovering over the bottom-right corner */
}

/* Toolbar styles */
.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Reduced height */
  margin-bottom: 20px; /* Space below the toolbar */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding for aesthetic spacing */
  background-color: #f3f3f3; /* Light grey background */
}

.toolbar input,
.toolbar button {
  height: 100%; /* Match height of the toolbar */
  border-radius: 5px; /* Slightly rounded corners for input and button */
}

.toolbar input {
  margin-right: 10px;
  width: 300px; /* Adjust width as needed */
  border: 1px solid #ccc; /* Subtle border for the input */
}

.toolbar button {
  cursor: pointer; /* Improves UX by showing a pointer cursor on hover */
  background-color: #007bff; /* Bootstrap primary color for example */
  color: white; /* White text color */
  border: none; /* No border for the button */
}

.sign-in-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; /* Soft gray background */
  overflow: auto;
  
}

.logo-container {
  position: absolute;
  top: 40%; /* Adjusted for aesthetic balance */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-container {
  position: absolute;
  top: 60%; /* Adjusted to maintain relative spacing with logo */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 12px; /* More pronounced rounded corners for modern feel */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
  width: 350px; /* Increased width for better control */
  z-index: 3;
}

.input {
  padding: 15px; 
  width: 100%; 
  border: 2px solid #ccc; /* Defined border for better visibility */
  border-radius: 8px; /* Rounded borders */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* More pronounced inset shadow */
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #5E17EB; /* Highlight focus with a vibrant color */
  outline: none; /* Remove default focus outline */
}

.button-container button {
  background-color: #5E17EB; /* Adjusted color */
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 15px; /* Increased padding for better touch area */
}

.button-container button:hover {
  background-color: #878787; /* Adjusted hover color for feedback */
}

.error-message {
  color: #ff6b6b; /* Soft red for errors */
  text-align: center;
  font-size: 0.9em;
}

