/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #A6A6A6; 
  color: #333; 
  font-family: Arial, sans-serif; 
}

.note-color-1 {
  background-color: #ffadad; /* Light red */
}

.note-color-2 {
  background-color: #ffd6a5; /* Light orange */
}

.note-color-3 {
  background-color: #fdffb6; /* Light yellow */
}

.note-color-4 {
  background-color: #caffbf; /* Light green */
}

.note-color-5 {
  background-color: #9bf6ff; /* Light blue */
}

.note-color-6 {
  background-color: #a0c4ff; /* Light purple */
}

.note {
  position: absolute;
  border: 1px solid #ccc; /* Softer border color */
  padding: 10px;
  border-radius: 8px; /* Rounded corners for a smoother look */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
  cursor: move; /* Indicates the note is movable */
  overflow: hidden; /* Ensures no overflow of content */
}

.note-header {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0,0,0,0.05); /* Slight overlay in the header for distinction */
  font-weight: bold; /* Making the header text bold */
}

.note.editing {
  background-color: #fefcbf; /* Soft editing mode color */
}


/* Add these styles to your CSS file */
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border: 2px solid #ddd;
}

.react-resizable-handle-se {
  right: 0;
  bottom: 0;
  cursor: se-resize; /* Cursor seen when hovering over the bottom-right corner */
}

/* Enhanced Toolbar styles for larger and more spaced layout */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #A6A6A6;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  margin-top: 70px; /* Increased top margin to push the toolbar down */
  margin-bottom: 50px;
  border-radius: 0;
}

.toolbar input,
.toolbar button {
  height: 50px; /* Increased height for inputs and buttons for easier interaction */
  border-radius: 4px; /* Mildly pronounced rounded corners */
}

.toolbar input {
  margin-right: 15px;
  width: auto; /* Auto width to adjust responsively */
  flex-grow: 1; /* Input grows to fill available space */
  border: 2px solid #ccc; /* Slightly thicker border for better visual structure */
  font-size: 16px; /* Larger font size for readability */
}

.toolbar button {
  margin-left: 10px; /* Add space between buttons */
  cursor: pointer;
  background-color: #5E17EB; /* Original button color */
  color: white;
  border: none;
  padding: 0 25px; /* Increased padding for a fuller button appearance */
  font-weight: bold;
  text-transform: uppercase; /* Text styling to reflect an authoritative look */
  letter-spacing: 1px; /* Slight spacing between letters for aesthetic purposes */
  transition: background-color 0.3s; /* Smooth transition for color change */
}

.toolbar button:hover {
  background-color: #44318D; /* Darker shade for hover effect */
}

/* Additional styling to ensure visual separation between toolbar and subsequent content */
.toolbar::after {
  content: '';
  display: block;
  height: 2px; /* Thicker line for a clearer division */
  background-color: #ddd;
  width: 100%;
}



.sign-in-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; /* Soft gray background */
  overflow: auto;
  
}

.logo-container {
  position: absolute;
  top: 40%; /* Adjusted for aesthetic balance */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-container {
  position: absolute;
  top: 60%; /* Adjusted to maintain relative spacing with logo */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 12px; /* More pronounced rounded corners for modern feel */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
  width: 350px; /* Increased width for better control */
  z-index: 3;
}

.input {
  padding: 15px; 
  width: 100%; 
  border: 2px solid #ccc; /* Defined border for better visibility */
  border-radius: 8px; /* Rounded borders */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* More pronounced inset shadow */
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #5E17EB; /* Highlight focus with a vibrant color */
  outline: none; /* Remove default focus outline */
}

.button-container button {
  background-color: #5E17EB; /* Adjusted color */
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 15px; /* Increased padding for better touch area */
}

.button-container button:hover {
  background-color: #878787; /* Adjusted hover color for feedback */
}

.error-message {
  color: #ff6b6b; /* Soft red for errors */
  text-align: center;
  font-size: 0.9em;
}

